In [1]:
import flor

In [2]:
flor.query("SELECT * FROM loops")

    ctx_id  parent_ctx_id loop_name  loop_entries  loop_iteration
0        0            NaN     epoch             1               1
1        1            0.0      step             1             500
2        2            0.0      step             1            1000
3        3            0.0      step             1            1500
4        4            NaN     epoch             1               2
5        5            4.0      step             2             500
6        6            4.0      step             2            1000
7        7            4.0      step             2            1500
8        8            NaN     epoch             1               3
9        9            8.0      step             3             500
10      10            8.0      step             3            1000
11      11            8.0      step             3            1500
12      12            NaN     epoch             1               4
13      13           12.0      step             4             500
14      14           12.0      step             4            1000
15      15           12.0      step             4            1500
16      16            NaN     epoch             1               5
17      17           16.0      step             5             500
18      18           16.0      step             5            1000
19      19           16.0      step             5            1500
20      20            NaN     epoch             1               6
21      21           20.0      step             6             500
22      22           20.0      step             6            1000
23      23           20.0      step             6            1500
24      24            NaN     epoch             1               7
25      25           24.0      step             7             500
26      26           24.0      step             7            1000
27      27           24.0      step             7            1500
28      28            NaN     epoch             1               8
29      29           28.0      step             8             500
30      30           28.0      step             8            1000
31      31           28.0      step             8            1500
32      32            NaN     epoch             1               9
33      33           32.0      step             9             500
34      34           32.0      step             9            1000
35      35           32.0      step             9            1500
36      36            NaN     epoch             1              10
37      37           36.0      step            10             500
38      38           36.0      step            10            1000
39      39           36.0      step            10            1500

In [3]:
flor.pivot('accuracy', 'loss')

,projid,tstamp,filename,accuracy,epoch_entries,epoch_iteration,step_entries,step_iteration,loss
0,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,1,1,500,0.469383418560028
1,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,1,1,1000,0.23906421661377
2,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,1,1,1500,0.0495855584740639
3,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,2,2,500,0.0858967006206512
4,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,2,2,1000,0.239088863134384
5,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,2,2,1500,0.00920849107205868
6,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,3,3,500,0.0110081704333425
7,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,3,3,1000,0.00759784132242203
8,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,3,3,1500,0.193404868245125
9,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,4,4,500,0.00754651427268982
10,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,4,4,1000,0.269229918718338
11,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,4,4,1500,0.0020167117472738
12,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,5,5,500,0.00216090632602572
13,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,5,5,1000,0.0716521963477135
14,ml_tutorial,2023-08-17T14:08:13,train.py,97.94,1,5,5,1500,0.0267916955053806
15,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,1,1,500,0.23156401515007
16,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,1,1,1000,0.124277129769325
17,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,1,1,1500,0.048449270427227
18,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,2,2,500,0.0174014121294022
19,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,2,2,1000,0.0396086052060127
20,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,2,2,1500,0.0574071854352951
21,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,3,3,500,0.00561360269784927
22,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,3,3,1000,0.0153215192258358
23,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,3,3,1500,0.046303104609251
24,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,4,4,500,0.00374085083603859
25,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,4,4,1000,0.0191184896975756
26,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,4,4,1500,0.0621689409017563
27,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,5,5,500,0.000821844441816211
28,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,5,5,1000,0.19994068145752
29,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,5,5,1500,0.00394831039011478
30,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,6,6,500,0.078400269150734
31,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,6,6,1000,0.00824527535587549
32,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,6,6,1500,0.00135427142959088
33,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,7,7,500,0.0255366861820221
34,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,7,7,1000,0.0148378144949675
35,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,7,7,1500,0.0310402438044548
36,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,8,8,500,0.151195377111435
37,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,8,8,1000,0.000315459707053378
38,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,8,8,1500,0.000217557651922107
39,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,9,9,500,0.00433748820796609
40,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,9,9,1000,0.0034062578342855
41,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,9,9,1500,0.00115611404180527
42,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,10,10,500,0.00735217891633511
43,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,10,10,1000,0.00323224393650889
44,ml_tutorial,2023-08-17T14:22:51,train.py,97.65,1,10,10,1500,2.1943849787931e-05
45,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,1,1,500,0.340162873268127
46,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,1,1,1000,0.0543907471001148
47,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,1,1,1500,0.0874033570289612
48,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,2,2,500,0.0656906738877296
49,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,2,2,1000,0.253334999084473
50,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,2,2,1500,0.102150581777096
51,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,3,3,500,0.0450273714959621
52,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,3,3,1000,0.196081161499023
53,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,3,3,1500,0.00821158196777105
54,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,4,4,500,0.00277980044484138
55,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,4,4,1000,0.00559155829250813
56,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,4,4,1500,0.0122450031340122
57,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,5,5,500,0.003230374539271
58,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,5,5,1000,0.0773211792111397
59,ml_tutorial,2023-08-17T14:24:34,train.py,97.72,1,5,5,1500,0.0118529098108411